.logo {
	margin: 2em	
}

.main-title {
	margin: 2em;
}

.level-right {
	margin-right: 2em;
}

.level-right form input[type="text"],
.level-right form input[type="password"] {
	width: 10em;
}

figure.left-image {
	max-width: 300px;
	max-height: 300px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.column h2.is-3 {
	margin-top: -1em !important;
}

.column h3.is-3 {
	margin-top: 2em !important;
}

.flashy-button {
	margin-top: 4em;
	cursor: pointer;
	background-color: #eee;
	border-radius: 0.5em;
	width: 20em;
	height: 5em;
	padding-top: 1.5em;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 0 4px 3px #888;
	transition: background-color 0.4s, box-shadow 0.6s;
}

.flashy-button:hover {
	background-color: #fcfcfc;
	box-shadow: 0 0 10px 3px #888;
}

.product-image {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

div.floating.button {
	position: fixed !important;
	right: 10%;
	top: 50%;
	z-index: 20;
	width: 14em;
	height: 6em;
	opacity: 0.6;
	transition: opacity 0.4s;
}

div.floating.button:hover {
	opacity: 1;
}
